@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

:root {
  --main-color: #36b1a7;
  --font-b-size: 24px;
  --font-n-size: 18px;
  --font-n-sec-size: 16px;
  --font-small-size: 12px;
  --input-font-size: 14px;
  --input-border-color: #e7e7e7;
  --font-b-weight: 600;
  --border-radius: 10px;
  --font-t-weight: 300;
  --light-font-color: #b7b7b7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  color: #111;
}
