@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

:root {
  --main-color : #36b1a7;
  --font-b-size : 24px;
  --font-n-size : 18px;
  --font-n-sec-size : 16px;
  --font-small-size:12px;
  --input-border-color : #ccc;
  --font-b-weight : 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  color: #111;
}
