@import './base.css';

#app {
  min-height: 100vh;
  border: 1px solid var(--input-border-color);
  margin: 0 auto;
  max-width: 500px;
}

html,body {
  overflow-x: hidden;
}

a,
.green {
  text-decoration: none;
  color: inherit;
  transition: 0.4s;
  padding: 3px;
}

ul {
  list-style: none;
}

input,
select {
  outline: none;
}

select, option {
  color: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 40px 20px; */
  padding: 20px 30px;
  margin-bottom: 100px;
}

.margin-bottom-zero {
  margin-bottom: 0;
}

.margin-bottom {
  margin-bottom: 100px;
}

.logo {
  margin-bottom: 25px;
  width: 150px;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  table-layout: fixed;
  border-color: var(--input-border-color);
}

table th,
table td {
  padding: 10px 5px;
}

input,
button {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
